.load-more {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 15000; 
	bottom : 0; top : 0;  
	background-color: rgba(0,0,0,0.2);
}
.loading-msg{
	background-color: #000; 
	width: 50% ; 
	left: 30% !important;
	padding: 10px !important;
}

.loading-msg > p {
	color:#fff;  
	margin-left: 35%;
}