{% extends 'base_mail.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/mail/css/message.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row_event div-message col-sm-12">
        <div class="load-more hide">
            <div class='loading-msg'>
                <p> <span><img src="{{ asset('bundles/mail/image/loading.gif') }}" /></span>Chargement en cours... </p>
            </div>               
        </div>
        {% include 'MailBundle:Default:liste.html.twig' %}       
    </div>    
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/mail/js/message.js') }}"></script>
{% endblock %}

