{% for mail in listeEmails %}
    <div class="panel panel-info block-message {{ loop.last ? 'last' : '' }}" data-message-id="{{mail.id}}">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-user"></span> From : {{ mail.sender }} 
            <span class="pull-right glyphicon glyphicon-time "> {{ mail.receivedDate|date('d/m/Y H:i:s') }}</span><br>           
            <span class="glyphicon glyphicon-envelope"></span> Objet : {{ mail.object }}
        </div>
        <div class="panel-body">
            <p>{{ mail.content }}</p>
        </div>
    </div>     
{% endfor %}