{% extends 'base_mail.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="tableau" id="tabPersonne">
        <table>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Code</th>
                <th>Ville</th>
            </tr>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
    </script>
{% endblock %}

